Repository MST619/Devops-Team2, pull requests merged in 2022-02, with the labels that each got.

#119 #4.1.1 Basic Function Implemented
  src/IndexGame.py
  src/__pycache__/IndexGame.cpython-39.pyc
  src/__pycache__/gameinit.cpython-39.pyc
  src/__pycache__/test_IndexGame.cpython-39-pytest-6.2.5.pyc
  src/test_IndexGame.py
Labels: Game

#123 CI: Notify on ms Teams about the merge
  .github/workflows/CI_AutoTag.yml
  .github/workflows/CI_Notification.yml
Labels: CI

#128 Update building location $4.2.2
  .gitignore
  src/.gitignore/__pycache__/IndexGame.cpython-310.pyc
  src/.gitignore/__pycache__/test_IndexGame.cpython-310-pytest-6.2.5.pyc
  src/Bin/Index.py
  src/Bin/helloWorld.py
  src/IndexGame.py
  src/bin/__pycache__/gameinit.cpython-39.pyc
  src/bin/gameinit.py
  src/bin/test_gameinit.py
  src/bin/testing_Index.py
  src/test_IndexGame.py
Labels: bug, Game
